.DisplayBike-Table{
    width: 80% !important;
    margin: 50px auto 80px auto;
}

.DisplayBike-Nav{
    margin: 20px 0px 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.main-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;;
}
.section2{
    width: 30%;
    height: 600px;
    background-color:aqua ;
}