.ViewBike-Nav {
    margin: 20px 0px 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.BikePic-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width: 300;
    height: 300;
    object-fit: "contain";
}
.Bike-container{
  display: flex;
}

.Bike-details1{
  padding: 5% 15% 5% 15%;
}
.Bike-details2{
  padding: 5% 5% 15% 5% ;
}
.Bike-details{
   display: flex;
   justify-content: center;
}
.viewbiketable {
    border-collapse: collapse;
    width: 60%;
    margin: 5% 5% 35% 5% ;
  }
  
  td, th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  